{% extends "dashboard-base.html" %}
{% load static %}
{% block content %}
<div class="page-header">
  <h1>Louisville Crime <small>Activity of the 5-0 in  502!</small></h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="well well-sm">Louisville Crime is a project dedicated to storing a record the crime data for Metro Louisville.</div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Project Manager</h3>
        </div>
        <div class="panel-body">
          {% for creator in creators %}
          <div class="row">
            <div class="col-md-4">
              <img src="{{ creator.archiverprofile.picture.url }}" name="aboutme" width="100" height="100" class="img-circle img-responsive" />
            </div>
            <div class="col-md-8">
              <p><i class="glyphicon glyphicon-user"></i> <a href="{{ creator.get_absolute_url }}">{{ creator.get_full_name }}</a>
                <br/><i class="glyphicon glyphicon-envelope"></i> {{ creator.email|urlize }}
                <br/><i class="glyphicon glyphicon-globe"></i> <a href="{{ creator.archiverprofile.personal_url }}">{{ creator.archiverprofile.url_display_text }}</a></p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="github-widget" data-repo="jgissend10/louisville_crime"></div>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Project Members</div>
          <!-- List group -->
          <ul class="list-group">
            {% for member in members %}
            <li class="list-group-item"><a href="{{ member.get_absolute_url }}">{{ member }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
    {{ block.super }}
    <script src="{% static "jquery.githubRepoWidget.js" %}"></script>
{% endblock %}

